body {
  height: 0;
  margin: 0;
  padding: 0;
  background-image: url('src/app/imc-calculator/img/imc.png');
  background-size: 50%;
  background-position: center 0,5em;
  margin-top: -75em;
}


div{
  text-align: left;
  margin-left: 2em;
}

div.button1 {
  margin-left: 10em;
}
